.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.questionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgreen;
  padding: 0 5%;
}

.bongo {
  background-color: lightyellow;
  padding: 0 5%;
}

.questionText {
  background-color: lightsalmon;
  background-image: url("../assets/wood-pattern.png");
  padding-top: 2.8rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.answerDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.answerBox {
  /* background-color: salmon; */
  background-image: url("../assets/wood-pattern.png");
  font-weight: bold;
  padding: 0.8rem 2rem;
  border: 2px solid brown;
}

.answerBox > * {
  height: 100%;
}

.bongoBoard {
  height: 300px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.bongoBoardImg {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  height: 45px;
  padding: 0 0.5rem;
}
