.arrow {
  margin: 0 10px;
}

.arrow:hover {
  cursor: pointer;
}

.cardSection {
  flex: 1;
  display: flex;
  overflow: auto;
  margin: 10px 0;
}

.thumbnail {
  position: relative;
}

.lock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 100;
}

.cardLink {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

.cardBox {
  display: flex;
  min-height: min-content;
}

.cardBox > * {
  margin: 15px 15px;
}

.card {
  width: 280px;
  min-height: 370px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 8px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease all;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease all;
}

.thumbnail {
  position: relative;
}

.bonus {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 40%;
  text-align: center;
  background-color: gold;
  font-size: 0.88rem;
  padding: 0.2rem;
  border-radius: 6px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.descriptionSection {
  padding: 1rem;
  padding-top: 0.6rem;
}

.descriptionSectionFlex {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  align-items: center;
}

.cardSection::-webkit-scrollbar {
  width: 10px;
}

.cardSection::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.cardSection::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 100px;
}

.hero {
  position: relative;
}

.heroImage {
  width: 100%;
  height: 70vh;
  opacity: 0.6;
  object-fit: cover;
}

.heroContent {
  position: absolute;
  padding-top: 6rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stats {
  padding-top: 1em;
}
